//buttons

.button
    border: 1px solid $white-color
    background-color: transparent
    font-weight: 700
    text-transform: uppercase
    color: $white-color
    border-radius: 3px
    height: 46px
    padding: 0 26px
    font-size: 15px
    outline: 0
    display: inline-block
    letter-spacing: 2px
    width: 100%
    text-align: center
    transition: 0.5s all ease-in-out

    &:hover
        cursor: pointer
        background-color: $main-color
        border: 1px solid $main-color
        color: $white-color



